* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #000000;
  --second-bg-color: rgb(22, 23, 31);
  --text-color: #fff;
  --main-color: #1da1f2;
  --border-color: rgb(65, 65, 65);

}

body {
  background: var(--bg-color);
}

.app {
  display: flex;
  height: 100;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  background: var(--bg-color);
}


/* NAVBAR */

p {
  color: var(--text-color);
  margin-left: 5%;
  margin-top: 10px;

}

h3 {
  color: var(--text-color);
  font-size: 20px;
  margin-left: 20px;
  font-family: 'Segoe UI', Georgia, 'Times New Roman', Times, serif;

}

h2 {
  color: var(--text-color);
  font-family: 'Segoe UI', Georgia, 'Times New Roman', Times, serif;
}

span {
  color: var(--text-color);

}

/* FEED  */
.feed {
  min-width: 650px;
  border: 1px solid var(--border-color);
  margin-right: 15px;

}


.feed-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  margin-top: 20px;
  border-bottom: 1px solid var(--border-color);
}

/* TWEETBOX */
.boxtwet {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--bg-color);
  padding-right: 10px;

}

.boxtweet form {
  display: flex;
  flex-direction: column;
}

.boxtweet__input {
  display: flex;
  padding: 20px;
}

.boxtweet__input input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.boxtweet__input input:focus {
  outline: none;
}

.avatar {
  border: none;
  padding: 15px;
}

.boxtweet__buttons {
  display: flex;
  justify-content: space-between;
  padding: 10%;
  border-bottom: 1px solid var(--border-color);
}

.boxtwet__actions {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 10%;
  gap: 5px;
}

.boxtwet__actions span {
  margin-right: 20%;
}

.button {

  display: block;
  background: #1da1f2;
  width: 9em;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  border-radius: 20px !important;
  height: 40px !important;
  /* margin-top: 10px !important; */
  margin-left: auto !important;
}

/* Post */
.post-headerText {
  display: flex;

}

.post-img {
  border-radius: 20px;
  width: 100%;

}

.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--border-color);
}

.post-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.post-badge {
  font-size: 10px !important;
  color: var(--twitter-color);
}

.post-headerSpecial {
  font-weight: 600;
  font-size: 12px;
}

.post-headerText>h3 {
  font-size: 20px;
  font-family: 'Segoe UI', Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
}

.post-headerDescription {
  font-size: 15px;
  margin-bottom: 20px;
  font-family: 'Segoe UI', Georgia, 'Times New Roman', Times, serif;
  color: #8899a6;
}

.post-body {
  flex: 1;
  padding-right: 40px;
}

.post-avatar {
  padding: 20px;
  border-radius: 100%;
  height: 2.5em;
  width: 2.5em;
  background: #192734;
  margin-left: 3.5em;
}

/* WIDGETS  */
.widgets {
  flex: 2;
  min-height: 100vh;
  min-width: 275px;
  margin-right: 3%;
  margin-top: 20px;
}

.widgets::-webkit-scrollbar {
  display: none;
}

.widgets__input {
  display: flex;
  align-items: center;
  background-color: var(--second-bg-color);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.widgets__input input {
  border: none;
  outline: none;
  background-color: var(--second-color);
  color: var(--text-color)
}

.widgets__widget-contain {
  height: 20em;
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  background-color: var(--second-bg-color);
  border-radius: 20px;
}

.widgets__widget-contain h2 {
  font-size: 18px;
  font-weight: 800;
}

.widget-contain__trend {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  width: 200px;
}

/* .widgets__widget-contain__trending {
  margin-top: 20px;
} */

.widgets__widget-contain__trending h2 {
  font-size: 1em;
  font-family: 'Segoe UI', Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
}

.widgets__widget-contain__trending span {
  font-size: 15px;
  font-family: 'Segoe UI', Georgia, 'Times New Roman', Times, serif;
  color: #8899a6;
}

.trending__head {
  display: flex;
  justify-content: space-between;
}


.mybtn {
  color: var(--main-color);
  background: var(--second-bg-color);
  border: none;
  font-weight: 500;

}

/* FOLLOW */
.mytweet {
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  background-color: var(--second-bg-color);
  border-radius: 20px;
}

.mytweet h2 {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 800;
}

.btn-follow {
  margin-left: 5em;
  border: none !important;
  font-weight: 500 !important;
  background: var(--text-color);
  color: black;
  width: 5em;
  height: 2em;
  border-radius: 1.5em;
  text-transform: inherit !important;
  font-family: 'Segoe UI', Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
  margin-top: 0.5em;

}

.mytweet-profile {
  display: flex;
  margin-top: 20px;
}

.mytweet-profile h4 {
  color: var(--text-color);
}

.mytweet span {
  margin-left: 10%;
  font-size: 12px;
}


/* PROFILE */
.profile-header {
 
  border: 1px solid var(--border-color);
}

.profile-header__prem {
  display: flex;
  gap: 10px;
  border-top: 1px solid var(--border-color);
}

.profile-header__duo {
  background-color: gray;
  height: 30%;
  min-width: 650px;
 
}
.profile-header__tri{
  margin-left: 7%;
}

.profile-header__prem h1 {
  color: #fff;
}

.profile-header__prem img {
  width: 5%;
  height: 5%;
}

.profile-header__prem h2 {
  margin-top: 3px;
}


.profile-header__image {
  display: flex;
  gap: 40%;
  /* margin-bottom: 20%; */
  margin-left: 10%;

}
.profile-header__image button{
  background-color:var(--bg-color);
  color: var(--text-color);
  width: 6em;
  height: 2em;
  border-radius: 1.5em;
  margin-top: 15px;
  margin-left: 15%;
  border: 1px solid var(--border-color);
}
.profile-header__image button:hover{
  background-color: gainsboro;
}

.profile-header__title {
  display: flex;
  gap: 10px;
}

.profile {
  border-radius: 100%;
  width: 20%;
  height: 20%;
  margin-top: -50px;

}
.profile-header__post{
  margin-top: 15px;
  /* margin-left: 20px; */
  padding: 20px;
}

.profile-nav{
  border-bottom: 1px solid var(--border-color);
}
.btn-config {
  border: none;
  background: var(--text-color);
  color: var(--bg-color);
  font-weight: 500 !important;
  border-radius: 30%;
  width: 30%;
}

.icon {
  border-radius: 100%;
  height: 1.5em;
  width: 1.5em;
}